@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html { font-size: 62.5%; } /* 10px */
body {
    font-family:'YuMincho', 'Yu Mincho', 'serif', 'Noto Serif JP', 'Montserrat', 'Noto Sans JP', 'serif', 'Lato', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;
    color: #111111;
    background-image: url(../images/bgi/background-05-3.jpg);
    background-repeat: repeat;
    background-size: contain;
    font-size: 1.6rem;/* 16px */
}
h1 { font-size: 2.8rem; }
h2 { font-size: 1.8rem; }
p  { font-size: 1.6rem; } /* 16px */

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    min-width: 200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.8)
}

header {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

.gl-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gl-btn ul {
    list-style-type: none;
}

.gl-btn li {
    width: 130px;
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
    font-weight: 400;
    display: inline-block;
}
.gl-btn li:nth-child(6) {
    padding-right: 10px;
}
.gl-btn li a {
    display: block;
    padding-bottom: 15px;
    text-decoration: none;
    text-align: center;
    color: #111111;
    font-size: 1.5rem
}

.gl-btn li a:hover {
    color: #076EB2;
}

.basicBox {
    font-size: .5rem;
}

.basicBox li a:hover {
    color: #111111;
}

.gl-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding-top: 5px;
}

.gl-logo a:hover {
    opacity: .5;
}
.btn_banner a{
    display: block;
    height: 60px;
    width: auto;
            background: url("../images/btn_banner01.png") 50% 50% no-repeat;
            margin: 20px 0px 30px;
}
.btn_banner:hover a{
    display: block;
    height: 60px;
    width: auto;
    background-image: url("../images/btn_banner02.png");
    background-repeat: no-repeat;
            background-position: 50% 50%;
                        margin: 20px 0px 30px;
}
.second-topics {
    width: 55%;
float: left;
margin:0% 5% 0% 10%;
}

.side-twitter {
    width: 20%;
    float: right;
    margin-left: 10%;
        margin: 14rem 0rem 10rem 0rem;
}

/* Basic Box */
svg rect {
    stroke-dasharray: 400, 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

.basicBox:hover svg rect {
    stroke-width: 3;
    stroke-dasharray: 35, 245;
    stroke-dashoffset: 38;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}
#nav_home a::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../images/home.png);
    margin-right: 5px;
    background-repeat: no-repeat;
    margin-bottom: 7px;
    width: 30px;
    height: 30px;
    background-size: contain;
}
#nav_research a::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../images/kennkyu.png);
    margin-right: 5px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
}
#nav_inquiry a::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../images/book.png);
    margin-right: 5px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
}
#nav_facility a::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../images/eye.png);
    margin-right: 5px;
    background-repeat: no-repeat;
    margin-top: 7px;
    width: 30px;
    height: 30px;
    background-size: contain;
}
#nav_semina a::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../images/brain.png);
    margin-right: 5px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
        margin-bottom: 5px;
    background-size: contain;
}

#nav_accsess a::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../images/access.png);
    margin-right: 5px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    background-size: contain;
}
#nav_contact a::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../images/mail.png);
    margin-right: 5px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
        margin-bottom: 5px;
    background-size: contain;
}
/*全画面動画表示*/
/*.wrapper {
position:relative;
}
.wrapper video {
width: 100%;
height: 100%
}
.wrapper .text {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%); /＊上下左右中央寄せ＊/
text-align:center;
}*/
.wrap-video{
position:relative;
}
.wrap-video video{
width: 100%;
height:100%
}
.wrap-video .text{
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%); /上下左右中央寄せ/
text-align:center;
}

/*中央寄せ動画
.wrap-video{
position:relative;
}
.wrap-video video{
width: 100%;
height:100%
}
.wrap-video .text{
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%); /＊上下左右中央寄せ＊/
text-align:center;
}*/

.NLabo-toha {
    margin: 0 auto;
    text-align: center;
    height: 350px;
    padding-top: 110px;
    margin-bottom: 50px;
}
.txt{
display: inline-block;
    text-align:center;
}
.txt h1 {
    font-size: 5.5rem;
    margin-bottom: 2.0rem;
}
.txt p {
    font-size: 1.8rem;
    line-height: 4.0rem;
}
.ryakureki {
    font-size: 1.8rem;
    border-bottom: solid black thin;
}
.profile {
width: 780px;
margin: auto;
    overflow: hidden;
}

.hide-prof {
    text-indent: -9999px;
    display: none;
}
.n_main {
    width: 70%;
    overflow: hidden;
    padding: 7rem 0rem 10rem 0rem;
        margin-left: 2rem;
}
.news_main .blog_main {
    float: left;
}
.news_main h1 {
    font-size: 4.0rem;
    text-align: center;
}
.btn a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #111111;
}
.research_main h1 {
text-align: center;
}
.research_main {
    margin: 14rem 0rem 10rem 0rem;
}

.tbl-bdr {
    margin-bottom: 3rem;
}
.profile-article {
    width: 550px;
    font-size: 1.5rem;
    line-height: 2.8rem;
    float: right;
    margin-left: 20px;
}
.profile-article dt{
  float: left;
  width: 10rem;
}
.profile-article dd{
  margin-left: 50px;
}
.photo-and-link {
    width: 202px;
    float: left;
}

.second-topics td {
    padding: 5px 10px;
}
.demo2 .heading {
  background: #2f4f4f;
  padding: 5px 15px;
  border-radius: 0 10px 0 10px;
  color: white;
  font-size: 2.0rem;
  font-family: Noto Sans JP;
  font-weight: 200;
}

.for-students {
    clear: both;
}
.for-students h2 {
        font-size: 2.0rem;
        padding-bottom: 1rem;
    border-bottom: 2px solid #111111;
}
.icons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
button.past-students {
    position: relative;
    height: 80px;
    width: 200px;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    color: #666;
    padding-bottom: 40px;
    border: none;
    outline: 0;
    transition: .5s;
    -erbkit-transition: .5s;
}

button.past-students::after {
    content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: solid 3px #666;
    border-right: solid 3px #666;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    right: 28px;
    top: 35px;
    transition: .5s;
    -erbkit-transition: .5s;
}

button.past-students:hover::after {
    top: 50px;
}
/*index-生徒用ボタン*/
.button_std {
    display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
    font-family: Montserrat;
      font-weight: bold;
}
.button_std:hover {
      text-decoration: none;
  background: #b3e1ff;
}
.footer {
    height: 60px;
    padding-bottom: 20px;
    padding-top: 10px;
    clear: both;
    text-align: center;
}
/*Contactページ*/
.contact {
    width: 583px;
}
/*newsページ*/
.bg01 {background: url("../images/blog/blog01.jpg") center no-repeat / cover;}
.bg02 {background: url("../images/blog/blog10.jpg") center center no-repeat / cover;}
.bg03 {background: url("../images/blog/blog11.jpg") center center no-repeat / cover;}
/*.blog .card-body {
    background: #fff 0 0 no-repeat;
}*/
.news h1 {
   padding: 0.2em 1em;
   border: solid 1.5px #a9a9a9;
   font-family: Montserrat;
   font-size: 2.8rem;
   font-weight: 300;
   background-color: #a9a9a9;
   color: white;
}
.card {
    width: 350px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
}
.card .col-md-4,
.card .col-md-8 {
    min-height: 223px;
}
.card-img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
}
.card-img-top {
    width: 275px;
    height: 195px;
}
.card-content {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.card-text {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
}

.hide-text {
    display: none;
}


button.readmore {
    position: relative;
    height: 80px;
    width: 90px;
    margin: 40px auto;
    display: block;
    background-color: transparent;
    color: #666;
    padding-bottom: 40px;
    border: none;
    outline: 0;
    transition: .5s;
    -erbkit-transition: .5s;
}

button.readmore::after {
    content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: solid 3px #666;
    border-right: solid 3px #666;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    right: 28px;
    top: 35px;
    transition: .5s;
    -erbkit-transition: .5s;
}

button.readmore:hover::after {
    top: 50px;
}

.on-click {
    color: transparent!important;
}

.on-click {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}
/*@media (max-width: 768px){
    .card-horizon-con{
        height: 100px;
    }
    .left{
        width: 100px;
    }
    .left > img{
        height: 100px;
        width: 100px;
    }
    .postdata{
        display: none;
    }
    .postdata-sp{
        display: block;
    }
    .right{
        font-size: 0.75rem;
        overflow: scroll;
    }*/
/*researchページ*/
.research a:nth-of-type(1) {
    display: block;
    width: 450px;
    height: 150px;
    background: url("../images/1.png") center center no-repeat/contain;
    text-indent: -9999px;
            margin: 5px;
}
.research a:nth-of-type(2) {
    display: block;
    width: 450px;
    height: 150px;
    background: url("../images/2.png") center center no-repeat/contain;
    text-indent: -9999px;
    text-align: center;
        margin: 5px;
}
.research a:nth-of-type(3) {
    display: block;
    width: 450px;
    height: 150px;
    background: url("../images/3.png") center center no-repeat/contain;
    text-indent: -9999px;
    text-align: center;
            margin: 5px;
}
.research a:nth-of-type(4) {
    display: block;
    width: 450px;
    height: 150px;
    background: url("../images/4.png") center center no-repeat/contain;
    text-indent: -9999px;
    text-align: center;
            margin: 5px;
}
.research a:nth-of-type(1):hover {
    display: block;
    width: 450px;
    height: 150px;
    background: url("../images/1-h.png") center center no-repeat/contain;
    text-indent: -9999px;
            margin: 5px;
}
.research a:nth-of-type(2):hover {
    display: block;
    width: 450px;
    height: 150px;
    background: url("../images/2-h.png") center center no-repeat/contain;
    text-indent: -9999px;
            margin: 5px;
}
.research a:nth-of-type(3):hover {
    display: block;
    width: 450px;
    height: 150px;
    background: url("../images/3-h.png") center center no-repeat/contain;
    text-indent: -9999px;
            margin: 5px;
}
.research a:nth-of-type(4):hover {
    display: block;
    width: 450px;
    height: 150px;
    background: url("../images/4-h.png") center center no-repeat/contain;
    text-indent: -9999px;
            margin: 5px;
}
.research {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.rsc-contents {
    width: 80%;
    margin: 0 auto;
}
.rsc-contents h2 {
        font-size: 2.7rem;
        position: relative;
display: inline-block;
padding: 0 55px;
}
.rsc-contents p {
    margin: 15px 0px 50px 0px;
    font-size: 1.7rem;
    line-height: 3.5rem;
}
.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 2px #dcdcdc;
    background-color: #dcdcdc;
}
.box1 h1 {
    margin: 0;
    padding: 0;
}
.rsc-contents h2:before, .rsc-contents h2:after{
content: '';
position: absolute;
top: 50%;
display: inline-block;
width: 45px;
height: 1px;
background-color: black;
}
.rsc-contents h2:before {left:0;}
.rsc-contents h2:after {right: 0;}

/*access*/
.access h1 {
    font-size: 1.5rem;
}
/*inquiry*/
.topic {
    overflow: hidden;
}
.topic ul {
    list-style-type: none;
}
.topic h1 {
    font-family: Montserrat;
    font-size: 3.0rem;
}
.topic li a {
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 4rem;
    color: #111111;
    margin-left: 20px;
    font-family: Noto Sans JP;
}
.topic li a:hover {
    color: #076EB2;
}
.topic_title {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 2px #dcdcdc;
        background-color: #dcdcdc;
    }
.inquiry_contents{
    width: 80%;
    margin: 0 auto;
}
#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
  border: solid 1px #66cdaa;
  background-color: #66cdaa;
  border-radius: 50px;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #3f98ef;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 15px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  color: #000000;
}
#page_top a:hover { opacity: .7;}

/*seminarページ*/
.seminar h1 {
    font-family:  Noto Sans JP;
}
.seminar p {
    font-size: 1.7rem;
    line-height: 3.5rem;
}
/*seminar_pastページ*/
.past_list {
    overflow: hidden;
    list-style-type: none;
}
.past_list ul {
    list-style-type: none;
}
.past_list a {
    text-decoration: none;
    font-size: 1.9rem;
}
.past1 {
    float: left;
}
.past2 {
    margin-left: 200px;
}